.bgm {
  background: #dedddd;
}

.bgn {
  background-color: #EEEFF2;
}

.bg-img {
  background: url('/neomn.jpg');
  background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
  min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 

}

/* .form-background {
  min-width: max-content;
} */

.reph {
  min-height: 100vh;
	/* width: 50%; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center;  */

}

.thn {
  /* min-height: 100vh; */
padding: 35px 20px 25px 20px;
margin: 0 50px;
background-color: #EEEFF2;
width: 446px;
height: 698.72px;
box-shadow: inset -3px -3px 5px 0px #ffffffd9, -1px -1px 4px 0px #ffffffd5,
    1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%); */
  border-radius: 0.9rem;

  
}


/* .f-grayt {
  min-height: 100vh;
  width: 60%;
  background-color: #EEEFF2;
  position: absolute;
  right: 0;
} */
.f-grayyt {
  /* min-height: 100vh; */
  width: 60%;
  background-color: #EEEFF2;
  position: absolute;
  right: 0;
  bottom: 0;
}

.mountain {
  background: url('/neomn.jpg');
  background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
  min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 

}

.font {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.form-control {
  border: 2px solid #fafafad5;
  /* box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff,
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12),
    inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07),
    1px 2px 3px 0px rgba(0, 0, 0, 0.1); */
  /* box-shadow: inset -3px -3px 5px 0px #ffffffd9, -1px -1px 4px 0px #ffffffd5,
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12),
    inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07),
    1px 2px 3px 0px rgba(0, 0, 0, 0.1); */
    box-shadow: inset -3px -3px 5px 0px #ffffffd9, -1px -1px 4px 0px #ffffffd5,
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12),
    inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07),
    1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  border-radius: 0.9rem;
  /* padding-bottom: 10px; */
  /* height: 200px;
  width: 1025px; */
  /* object-fit: cover; */
  /* margin:auto; */
  /* margin-top: 17px; */
  /* margin: 40px 0 30px 0; */
}



.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 1.2rem + 0.0625rem);
  padding: 0.6rem 1.75rem 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #44476A;
  vertical-align: middle;
  /* background: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23525480' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right 0.75rem center/8px 10px; */
  background-color: #e6e7ee;
  border: 0.0625rem solid #D1D9E6;
  border-radius: 0.55rem;
  box-shadow: inset 0 1px 2px rgba(38,40,51,0.075);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  border: 0;
}

.custom-control-label::before, .custom-file-label, .custom-select {
  transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}






.input-group {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  border-radius: 0.55rem;
  transition: all 0.2s ease;
  position: relative;
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: stretch;
    /* min-width: max-content; */
    /* width: 100%; */
    
}

.input-group>.input-group-prepend>.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-prepend {
  margin-right: -0.0625rem;
  display: flex;
  word-wrap: break-word;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-text {
  font-size: .875rem;
  transition: all 0.3s ease-in-out;
  border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* display: flex;
    align-items: center; */
    padding: 0.6rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #44476A;
    text-align: center;
    white-space: nowrap;
    background-color: #e6e7ee;
    border: 0.0625rem solid #D1D9E6;
    border-radius: 0.55rem;
}

.form-controoll {

  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  /* display: block; */
    /* width: 100%;  */
    /* min-width: min-content; */
    height: calc(1.5em + 1.2rem + 0.0625rem);
    padding: 0.6rem 0.75rem;
    font-weight: 300;
    line-height: 1.5;
    color: #44476A;
    background-color: #e6e7ee;
    background-clip: padding-box;
    border: 0.0625rem solid #D1D9E6;
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    transition: all 0.3s ease-in-out;
    overflow: visible;

}

.input:focus {
  outline: none !important;
}


/* .input-group .form-controoll:not(:last-child) {
  border-right: 0;
  padding-right: 0;
}

.input-group>.form-controoll:not(:last-child), .input-group>.custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */


.input-group>.form-controoll, .input-group>
.form-controoll-plaintext, .input-group>
.custom-select, .input-group>.custom-file {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}


/* .form-controoll {
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}
.form-controoll {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.2rem + 0.0625rem);
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #44476A;
  background-color: #e6e7ee;
  background-clip: padding-box;
  border: 0.0625rem solid #D1D9E6;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  transition: all 0.3s ease-in-out;
}
button, input {
  overflow: visible;
} */



.iconitopp {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajusta esta distancia desde el borde derecho según tus necesidades */
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-selectttt {
  /* background: url('https://fonts.gstatic.com/s/materialicons/v85/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') no-repeat; */
  /* background: url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200') no-repeat; */
  background-size: 100%;
}

.btn-red {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  width: 2.575rem;
  height: 2.575rem;
  padding: 0;
  transition: all .2s ease;
  letter-spacing: .025em;
  font-size: 1rem;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-signup {
  border-radius: 0.9rem;
  text-align: center;
  background: #b6a6d3; 
  margin: 0;
  border: none;
  width: 250px;
  height: 48px;
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17),
      1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: 0.1s; 
  cursor: pointer;
}

.btn-signup:hover {
  background: linear-gradient(160deg, #e8ecf9 0%, #f9f7f7 100%);
}

/* .nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background: #be5757!important;
} */

.title-form {
  color: #b6a6d3;
}