.bg {
	min-height: 38vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	background-image: url('../public/felix40.jpg');
	background-size: cover; 
	background-position: top;
	background-repeat: no-repeat;
}