Navbar{
  text-decoration: none;
}
.logo {
	font-weight: 600;
	color: #000000bb;
}

.navb{
	font-size: 15px;
	background-color: transparent;
  /* background: linear-gradient(0deg, transparent 0%, rgba(255,255,255,0.65) 92%) 50% 50%/180% 100%; */
	/* color: rgb(68, 67, 67); */
  color:#ffffff;
  text-decoration: none;
	transition: background-color 0.7s ease-in-out;
  transition: color 0.7s easy-in-out;
  text-decoration: none;
} 
.navbg {
  color: #000;
	border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17),
      1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
} 

.navbar-expand-lg .navbar-nav .nav-link {
  background: none;
}

.coloo {
	color: rgb(255, 255, 255);
  text-decoration: none;
}

.anchor-nav {
  text-decoration: none;
  color: rgb(68, 67, 67); 

  
}

.anchor-navb {
  text-decoration: none;
  color: rgb(68, 67, 67); 
}

.anchor-nav:hover {
  color: rgb(39, 38, 38);
  color: #ffffff;
  font-weight: 500;
} 

.login {
  height: 48px;
  width: 116.75px;
  min-width: max-content;
	font-size: 15px;
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #ffffff36, 5px 5px 8px 0px rgba(0, 0, 0, 0.062),
      1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
	color: black;
	border-radius: 0.9rem;
	text-align: center;
	display: flex;
	gap: 9px;
	align-items: center;
	margin: 3px 0 3px 15px;
  outline: none;
}

.login:hover {
  color: rgb(68, 67, 67);
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #f3f3f5 100%);
}
.red {
	color: rgb(97, 90, 143);
}

.icon {
  padding: 10px;
  text-align: center;
  border: 2px solid transparent;
  transition: 0.1s;
	color: #31344b;
  background-color: #e6e7ee;
  border-color: #d1d9e6;
	display: flex; 
  text-align: center;
  height: 32px;
  width: 32px;
  aspect-ratio: 1/1;
  padding: 0;
  border-radius: 50%;
  align-items: center; 
  justify-content: center; 
	box-shadow: 2px 2px 2px rgb(207, 206, 206) inset, -2px -2px 2px white inset; 
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}